.poster{
    width: 203.5px;
    height: 445.91px;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
  
  
  }
  .posterimg{
    width: 203.5px;
    height: 345px;
    
  }
  .posts{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    gap: 30px;
  }
  .container{
      display: flex;
      justify-content: center;
      gap: 35px;
  }
.btn{
  width: 250px;
  height: 120px;
  background-color: white
  ;
  padding: 10px;
}
.btn button{
padding: 4px;
padding-left: 6px;
padding-right: 6px;
  margin: 10px;
}
.product button{
  border-radius: 30px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  color: red;
  background-color: white;
  border: 1px solid gray;
  margin-right: 10px;

}
body{
  background-color: rgb(248, 243, 243);
}
.comingsoon{
  height: 80px;
  margin-top: 30px;
  margin-bottom: 60px;
  background-color: white;
  border-radius: 10px;
}