
.cast{
    display: flex;
    text-align: center;
    gap: 35px;
    margin-bottom: 7%;
}
.cast div img {
    width: 130px;
    border-radius: 50%;
}
.cast div p{
    margin: 0px;
font-weight: 600;
}
hr{
    color: lightgray;
    opacity: 0.3;
}
.background img{
    width: 100%;
    height: 500px;
   
}

.upperimg img{
    position: absolute;
    top: 150px;
    left: 170px;
    width: 245px;
    border-radius: 20px;

}
.uppertext{
    position: absolute;
    top: 160px;
    left: 450px;
}
.add{
    display: flex;
    margin-top: 20px;
    color: white;
    padding: 10px;
    background-color: rgb(83, 80, 80);
    border-radius: 10px;
}
.addyour{
    margin-right: 80px;
}



.downtext{

    width: 60%;
    margin-left: 10%;

}

.about{
    margin-bottom: 5%;
}
.offer{
    margin-bottom: 5%;
}
 .offer img{
     width: 500px;
     height: 100px;
 }


 .review{
     display: flex;
     gap: 5%;
 }