.App {
  text-align: center;
  font-family: Roboto,sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movie-details{
   position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 30px;
    background: #333545;
    box-sizing: border-box;
}
.movie-details-container{
  position: relative;
  text-align: left;
  display: inline-block;
  width: 85%;
  box-sizing: border-box;
  background: #333545;
  color: #999;
  z-index: 3;
}
.movie-name{
  color: #f4f4f4;
  float: left;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 400;
  vertical-align: baseline;
  background: 0 0;
}
a{
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: 0 0;
  cursor: pointer;
  font-weight: 400;
}
.movie-name>h1>a:hover{
  text-decoration: underline;
}
.ua-icon{
  margin-top: 0px;
}
.ua-icon>img{
  display: inline-block;
  vertical-align: top;
  width: 25px;
  border-radius: 50%;
}
.heart-rating{
  margin-right: 15px;
  margin-left: 15px;
  vertical-align: baseline;
  text-align: left;
  display: inline-block;
}
.heart-icon{
  display: inline-block;
}
.heart-icon>img{
  width:20px;
}
.percentage{
  color: #fff;
    display: inline-block;
    margin: 0PX;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 700;
    vertical-align: top;
}
.votes{
  font-size: 10px;
    color: #fff;
    display: inline-block;
}
.tags{
  margin-right: 15px;
  display: inline-block;
  vertical-align: top;
}
.genre-tag{
  font-size: 10px;
    color: rgba(255,255,255,.5);
    background: 0 0;
    padding: 2px 8px;
    border-radius: 11px;
    border: 1px solid rgba(255,255,255,.5);
    margin-left: 5px;
    text-transform: uppercase;
    display: inline-block;
}
.release-date ,.duration{
  margin-top: 5px;
  font-size: 12px;
  color: #fff;
  display:inline-block;
  vertical-align: top;
  font-weight: 400;

}
.clock-icon{
  padding-top: 5px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 5px;
}
.clock-icon>img{
  width: 15px;
}
.movie-cast{
  float: right;
  align-items: baseline;
  margin-top: 30px;
}
.director-info{
  display: inline-block;
  margin-right: 10px;
}
.movie-cast-title{
  font-size: 10px;
  color: #f4f4f4;
  margin-bottom:10px;
}
.movie-cast-image{
  width:40px;
  border-radius: 50%;
}
.movie-cast-name{
    margin-top: 4px;
    font-size: 10px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cast-info,.individual-cast-info{
  display: inline-block;
  margin-left: 10px;
  text-overflow: ellipsis;
  padding-left:10px;
  padding-right: 20px;

}

/* filter-container */

.filter-container{
  background: #fff;
  width:100%;
  box-sizing: border-box;
  border: 1px solid rgb(192, 192, 192);
  display: flex;
  justify-content: left;
  align-items: center;
}
.slider-container{
  display: flex;
  justify-content: center;
}
.slider-ul{
  list-style: none;
	display: flex;
	flex-wrap: wrap;
  margin:0px;
  padding: 0px;
  border: 1px solid black;
}
.days-container{
  color: #666;
  text-transform: uppercase;
  padding:10px;
  border: 1px solid black;
  
}


li>.date{
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    color: #333;
}
li>.day{
    color: #666;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
}
.days-container:hover{
  color: red;
}


.link {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 8px 4px;
	margin: 0 4px;
  width:120px;
  
}
.link a {
	text-decoration: none;
	color: #191919;
	/* margin-right: 4px; */
	font-size: 14px;
	font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;

}

.links-box ul {
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 0px;
	margin-bottom: 0;
}

.links-box ul li {
	display: inline-block;
	/* margin-left: 8px; */
	position: relative;
  border-right:  1px solid rgb(192, 192, 192);
  border-left: 1px solid rgb(192, 192, 192);
}

.fa{
  width:20px;
}
.dropdown-content {
	position: absolute;
	height: fit-content;
	min-width: 120px;
	background-color: #fff;
	top: 54px;
	left: 0px;
	display: none;
	border: 1px solid #cecece;
	border-top: none;
	z-index: 10;
}

.dropdown-content a {
	color: rgb(75, 75, 75);
	padding: 15px 25px;
	text-decoration: none;
	display: block;
  text-align: left;
	font-size: 12px;
  font-weight: 500;
}
.dropdown-content a:hover {
	background-color: #d3d3d37a;
}

.link:hover .dropdown-content {
	display: block;
}
.down-icons{
  color:#999;
  width: 30px;
  size: 10px;
  padding-left: 20px;

}
.right-icon,.left-icon{
  color:#999;
  margin-top: 15px;
}
.right-icon:hover,.left-icon:hover{
  color:#282c34;
}